<div class="min-h-screen bg-gradient-to-r from-blue-300 to-blue-500 p-6 font-sans">
  <h1 class="text-center text-5xl font-extrabold text-white py-4">{{title}}</h1>

  <div class="bg-white shadow-lg rounded-lg p-6 max-w-3xl mx-auto">
    <div class="flex flex-col sm:flex-row items-center justify-between gap-4 mb-6">
      <input #e type="text" id="inputField" (input)="addTodoTitle(e.value)"
        class="flex-1 border border-gray-300 rounded-full px-4 py-2 text-gray-700 focus:outline-none focus:ring focus:ring-blue-400"
        placeholder="Enter your task...">

      <div class="flex flex-wrap items-center justify-center gap-4">
        <div>
          <select (input)="addTodoPriority($event)"
            class="border border-gray-300 rounded-full px-1 py-1 bg-white focus:outline-none focus:ring focus:ring-blue-400">
            <option class="text-center" value="" disabled selected>Priority</option>
            <option class="text-center" value="Low">Low</option>
            <option class="text-center" value="Medium">Medium</option>
            <option class="text-center" value="High">High</option>
          </select>
        </div>
        <div>
          <select (input)="addTodoType($event)"
            class="border border-gray-300 rounded-full px-3 py-1 bg-white focus:outline-none focus:ring focus:ring-blue-400">
            <option class="text-center" value="" disabled selected>Type</option>
            <option class="text-center" value="Personal">Personal</option>
            <option class="text-center" value="Work">Work</option>
          </select>
        </div>
      </div>

      <button (click)="addTask()"
        class="bg-blue-600 text-white px-6 py-2 rounded-full font-medium hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-400 transition-all">
        Add Task
      </button>
    </div>



    <div class="bg-gray-50 shadow-inner rounded-lg p-6">
      <div class="grid grid-cols-8 gap-2 sm:flex sm:justify-between">
        <h2 class="col-span-4 sm:col-span-6 inline-block text-2xl font-semibold text-gray-800 mb-4 ">Task List</h2>
        <div class="col-span-4 sm:flex gap-2">
          <input [(ngModel)]="searchQuery"
          class="mb-4 sm:py-0 w-full text-xs sm:text-lg py-2 p-3 border border-gray-300 rounded-full bg-white focus:outline-none focus:ring focus:ring-blue-400"
          type="search" placeholder="Search...">
          <select [(ngModel)]="searchQuery"
          class="mb-4 sm:py-0 text-xs w-full sm:text-lg border border-gray-300 rounded-full py-2 px-3 bg-white focus:outline-none focus:ring focus:ring-blue-400"
          name="allCategory" id="allCatgory">
          <option class="text-center" value="" disabled selected>Short By...</option>
          <option class="text-center" value="Personal">Personal</option>
          <option class="text-center" value="Work">Work</option>
          <option class="text-center" value="Low">Low</option>
          <option class="text-center" value="Medium">Medium</option>
          <option class="text-center" value="High">High</option>
        </select>
      </div>
      </div>
      <ul class="space-y-4">
        @if(todoTitle !== ""){
        <li class="grid grid-cols-12 items-center justify-between gap-4 p-4 bg-yellow-200 rounded-lg shadow">
          <span class="sm:col-span-6 col-span-12 text-lg font-medium text-gray-700 truncate">{{todoTitle}}</span>

          <span
            class=" rounded-full px-2 text-center py-1 bg-gray-300 focus:outline-none focus:ring focus:ring-blue-400 sm:col-span-2 col-span-4 truncate">
            {{priority}}
          </span>

          <span
            class="rounded-full px-2 text-center py-1 bg-gray-300 focus:outline-none focus:ring focus:ring-blue-400 sm:col-span-2 col-span-4 truncate">
            {{type}}
          </span>

          <button
            class="bg-gray-300 text-white px-4 py-2 rounded-full font-medium   focus:outline-none focus:ring focus:ring-red-300 transition-all sm:col-span-2 col-span-4">
            Delete
          </button>
        </li>
        }
        
        @if(searchQuery === ''){
        <li *ngFor="let item of tasks"
          class="grid grid-cols-12 items-center justify-between gap-2 p-4 bg-green-300 rounded-lg shadow">
          <span
          [class.line-through]="item.completed"
            class="sm:col-span-5 col-span-12 text-lg font-medium text-gray-700 truncate">{{item.title}}</span>

          <span
            class=" rounded-full px-2 text-center py-1 bg-gray-300 focus:outline-none focus:ring focus:ring-blue-400 sm:col-span-2 col-span-3 truncate">
            {{item.priority}}
          </span>

          <span
            class="rounded-full px-2 text-center py-1 bg-gray-300 focus:outline-none focus:ring focus:ring-blue-400 sm:col-span-2 col-span-4 truncate">
            {{item.type}}
          </span>

          <input type="checkbox" [checked]="item.completed"
          (change)="item.completed = !item.completed"
            class="w-6 h-6 text-blue-600 focus:ring focus:ring-blue-400 sm:col-span-1 col-span-1">

          <button (click)="deleteTodo(item.id)"
            class="bg-red-500 text-white px-4 py-2 rounded-full font-medium hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300 transition-all sm:col-span-2 col-span-4 ml-2">
            Delete
          </button>
        </li>
      } @else{
        <li *ngFor="let item of filteredTasks"
        class="grid grid-cols-12 items-center justify-between gap-2 p-4 bg-green-300 rounded-lg shadow">
        <span
        [class.line-through]="item.completed"
          class="sm:col-span-5 col-span-12 text-lg font-medium text-gray-700 truncate">{{item.title}}</span>

        <span
          class=" rounded-full px-2 text-center py-1 bg-gray-300 focus:outline-none focus:ring focus:ring-blue-400 sm:col-span-2 col-span-3 truncate">
          {{item.priority}}
        </span>

        <span
          class="rounded-full px-2 text-center py-1 bg-gray-300 focus:outline-none focus:ring focus:ring-blue-400 sm:col-span-2 col-span-4 truncate">
          {{item.type}}
        </span>

        <input type="checkbox" [checked]="item.completed"
        (change)="item.completed = !item.completed"
          class="w-6 h-6 text-blue-600 focus:ring focus:ring-blue-400 sm:col-span-1 col-span-1">

        <button (click)="deleteTodo(item.id)"
          class="bg-red-500 text-white px-4 py-2 rounded-full font-medium hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300 transition-all sm:col-span-2 col-span-4 ml-2">
          Delete
        </button>
      </li>
      }
      </ul>
    </div>
  </div>
</div>